@charset "UTF-8";

/* *→ 전체선택자 */
*{margin: 0;padding: 0;}
body {background: #fff; font-size: 14px;
    text-align:center; line-height: 400px;
    }
ul,li {margin: 0;padding:0; list-style: none;}
#slide {position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;height: 444px;
    width: 295.95px;height: 147.4px;
}
img {width: 295.95px; height: 147.4px;}
/* poa >> position: absolute;  */